.text-white{
	color: black;
}

.login-box{
	margin: auto;
	margin-top: 50px;
	width: 60%;
	border: 3px solid black;
	padding: 15px;
	padding-bottom: 50px;
}
.atri{
	height: 50px;
}
.atributos{
	padding-top: 50px;
}
input{
	color:black;
}
.make-a-padding{
	padding-bottom: 100px;
}
body{
	padding-bottom: 50px;
}
